<!-- left sidebar -->
<div class="sidebar">
  <div class="sidebar__wrap">
    <div class="profile clearfix">
      <div class="profile__pic">
        <img class="img-circle profile_img" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" width="80" height="80"/>
      </div>
      <div class="profile__info">
        <span>Welcome</span>
        <h2 class="profile__name"><%= User.find(current_user.id).user_name %>さん</h2>
      </div>
    </div>
  
    <br />
  
    <!-- sidebar menu -->
    <div class="sidebar__menu-wrap" class="main_menu_side hidden-print main_menu">
      <div class="sidebar__menu_section">
        <ul class="sidebar__menu">
          <li class="sidebar__items">
            <%= link_to e_sal_path do %>
              <div class="sidebar__item"><i class="fa fa-home" aria-hidden="true"></i><span class="sidebar__action">Home</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to e_sal_programmings_path do %>
              <div class="sidebar__item"><i class="fa fa-desktop" aria-hidden="true"></i><span class="sidebar__action">Solving Programming</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to e_sal_original_categories_path do %>
              <div class="sidebar__item"><i class="fa fa-list" aria-hidden="true"></i><span class="sidebar__action">My Category</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to e_sal_tutorials_path do %>
              <div class="sidebar__item"><i class="fa fa-book fa-fw"></i><span class="sidebar__action">My Tutorial</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <div class="sidebar__item">
              <%= link_to list_e_sal_tutorials_path do %>
                <i class="fa fa-files-o"></i><span class="sidebar__action">Reading Tutorials</span>
              <% end %>
                <span class="fa fa-chevron-down sidebar__down-arrow" id="js-slider-button"></span>
            </div>
            <ul class="sidebar__tutorial" id="js-slider-menu">
              <% side_tutorial_list.each do |t| %>
                <li><i class="fa fa-circle" aria-hidden="true"></i></i>&nbsp;&nbsp;<%= link_to t.name,  {controller:"e_sal/tutorials", action:"main_category_list", main_category: t.name_url} %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar__menu -->
  </div>

  <br />

</div>
<!-- /sidebar -->