<div class="tutorial-area">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= h(flash[:notice]) %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= h(flash[:alert]) %>
    </div>
  <% end %>
  <div class="contents-wrap">
    <div class="tutorial-note">
      <i class="tutorial-note__pin"></i>
      <h2 class="tutorial-note__title"><%= @tutorial.title %></h2>
      <div class="tutorial-note__date"><%= l @tutorial.datetime_for_display, format: :date %></div>
      <div class="tutorial-note__main-sentence">
        <% if @preview.present? %>
          <%= markdown @body %>
        <% else %>
          <%= markdown @tutorial.tutorial_content.body %>
        <% end %>
      </div>
    </div>

    <% if @preview.blank? %>  
      <div class="evaluation-button">
        <p>このチュートリアルはあなたにとってお役に立ちましたか？</p>
        <button class="evaluation-button__like-button" id="js-like-button" data-like="on">
          <i class="evaluation-button__fa fa fa-thumbs-o-up" aria-hidden="true"></i> Like
        </button>
        <span class="evaluation-button__like-numbers" id="js-like-numbers"><%= @number_of_likes %></span>
        <button class="evaluation-button__dislike-button" id="js-dislike-button" data-dislike="on">
          <i class="fa fa fa-thumbs-o-down" aria-hidden="true"></i> Dislike
        </button>
        <span class="evaluation-button__like-numbers" id="js-dislike-numbers"><%= @number_of_dislikes %></span>    
      </div>
  
      <hr>

      <div class="comment-area">
        <div class="comment-area__character-count">
          <p>最大200文字まで<span class="comment-area__current-character-num-area">現在の文字数：<span class="comment-area__current-character-num" id="js-comment-count">0</span></span></p>
        </div>
        <%= form_for [:e_sal, @tutorial, @comment], :html => {class: "form-horizontal", role: "form"} do |f| %>
          <div class='form-group'>
            <div class='control-label col-md-2'>
              <%= f.label :body, 'Comment' %> 
            </div>
            <div class='col-md-10'>
              <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your comment', id: "js-comment-body" %> 
            </div>
          </div>
    
          <div class='form-group'>
            <div class='col-md-offset-2 col-md-10'>
              <%= f.submit "Add Comment", class: 'btn btn-primary btn-lg pull-right' %> 
            </div>
          </div>

          <% if @comment.errors.any? %>
            <div class="panel panel-danger col-md-offset-1">
              <div class="panel-heading">
                <div class="panel-body"> 
                  <ul>
                    <li> <%= @comment.errors.messages[:body][0] %> </li>
                  </ul>
                </div>
              </div><!-- /panel-heading --> 
            </div><!-- /panel panel-danger col-md-offset-1 -->
          <% end %>
        <% end %>
      </div>
  
      <div class='comment-history'> 
        <h2>Comment History</h2>
        <div class="col-md-12">
        <% if @tutorial.comments.any? %>
          <% persisted_comments(@comments).each do |comment| %> 
            <div class="comment-body">
              <%= comment.body %> 
            </div>
            <div class="comment-time">
              <%= time_ago_in_words(comment.created_at) %>前 by <%= comment.user.user_name %>
            </div>
            <hr>
          <% end %>
        <% else %>
          <p>表示するコメントはありません。</p>
        <% end %> 
      </div>
    <% end %>
  </div>
</div>
<div style="display: none;" id="js-tutorial-id"><%= @tutorial.id %></div>
<div style="display: none;" id="js-user-id"><%= @current_login_user_id %></div>
<div style="display: none;" id="js-like-tutorial"><%= @press_like_button %></div>
<div style="display: none;" id="js-dislike-tutorial"><%= @press_dislike_button %></div>
