<div class="programming-area">
  <div class="programming-note">
    <i class="programming-note__pin"></i>
    <h2 class="programming-note__title">問題「<%= @programming.title%>」</h2>
    <div class="programming-note__main-sentence"><%= @programming.question_desc %></div>
  </div>
  <div class="programming-answer_container">
    <div id="ace-editor" style="height: 300px; width: 55%; margin: 20px; display: inline-block;" readonly="true"></div>
    <%= javascript_include_tag "ace" %>
    <textarea name="form-editor" style="display: none;"></textarea>
    <div class="execution-result" style="height: 300px; width: 38%; margin: 20px; display: inline-block; float: right;">
      <textarea class="ace-editor ace-monokai" style="height: 100%; width: 100%; text-align: left;" placeholder="実行結果"></textarea>
    </div>
  </div>
</div>

<%# Aceエディタ用JS読み込み %>
<% content_for(:javascript) do %>
  <!--<%#= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>-->
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js", cache: "cached_all" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ext-language_tools.js", cache: "cached_all" %>
<% end %>