<div class="programming-area">
  <%= render partial: 'layouts/common_partials/header_stats' %>

    <div class="paging"><%= paginate(@programming_answers) %></div>
    <% @programmings_ansers.each do |p_a| %>
      <div class="programming-wrap">
        <div class="programming-material">
          <i class="programming-material__pin"></i>
          <div class="programming-material__note programming-material__background">
            <div class="programming-material__title"><%= p_a.programming.title %></div>
            <div class="programming-material__image-body-area">
              <!--<div class="programming-material__image"><%#= image_tag("rails.png") %></div>-->
              <div class="programming-material__body"><%= truncate(p_a.programming.question_desc, length: 80) %></div>
            </div>
            <% if p_a.draft? %>
              <%= link_to e_sal_programming_programming_answer_path(p_a.id) do %>
                <div class="programming-material__read-more">回答を見る</div>
              <% end %>
            <% elsif p_a.answered? %>
              <%= link_to edit_e_sal_programming_programming_answer_path(p_a.id) do %>
                <div class="programming-material__read-more">回答を編集する</div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
<div class="paging"><%= paginate(@programming_answers) %></div>
</div>
