<div class="programming-area">
  <div class="programming-note">
    <i class="programming-note__pin"></i>
    <h2 class="programming-note__title">問題「<%= @programming.title%>」</h2>
    <div class="programming-note__main-sentence"><%= markdown @programming.question_desc %></div>
    <div class="programming-note__sub-sentence">プログラミング言語：<%= @programming_answer.programming_language_i18n %></div>
    <div class="programming-note__sub-sentence">回答者：<%= @user.user_name %></div>
  </div>
  <div class="programming-answer_container" style="width: 900px; margin: 20px;">
    <pre class="prettyprint linenums:1" style="padding-left: 45px;"><%= @programming_answer.answer_code %></pre>
  </div>
</div>


<% content_for(:javascript) do %>
  <%= javascript_include_tag "https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sons-of-obsidian", cache: "cached_all" %>
  <style>　li.L0, li.L1, li.L2, li.L3,li.L5, li.L6, li.L7, li.L8{ list-style-type: decimal !important }</style>
<% end %>