<div class="contents-top">
  <div class="contents-wrap">
    <%= render partial: 'layouts/common_partials/header_stats' %>
  
    <div class="contents-top__timeline-wrap">
      <div class="contents-top__timeline-title">
        <h2 class="contents-top__title">新着情報・トピック</h2>
        <div class="clearfix"></div>
      </div>
      <ul class="contents-top__timeline">
        <% @timelines.each do |timeline| %>
          <li>
            <p class="contents-top__timeline-date"><%= timeline.created_at.strftime("#{t("date.formats.long")}") %></p>
            <div class="contents-top__timeline-content">
              <h3><%= t("activity.#{timeline.key}.timeline") %></h3>
              <p>タイトル「<%= link_to timeline.parameters[:title], "#{timeline.parameters[:link_url]}" unless timeline.parameters[:link_url].nil? %>」</p>
            </div>
          </li>
        <% end -%>
      </ul>
    </div><!--/contents-top__timeline-wrap -->
  
    <div class="contents-top__own-activity">
      <h2>最近のアクティビティ</h2>
      <ul>
        <% @activities.each do |activity| %>
          <li class="contents-top__activity-item">
            <span><%= activity.created_at.strftime("#{t("date.formats.default")}") %></span>
              <% if activity.parameters[:link_url].nil? %>
                <p><%= t("activity.#{activity.key}.activity") %></p>
              <% else %>
                <p><%= t("activity.#{activity.key}.activity") %></p>
                <p><%= link_to t("#{activity.parameters[:title]}"), "#{activity.parameters[:link_url]}" %></p>
              <% end -%>
          </li>
        <% end -%>
      </ul>
    </div><!-- /contents-top__own-activity -->
    
    <div class="statistics-area">
      <div class="pie-chart-wrap">
        <div class="pie-headline">
          <h2>サービス利用者の割合</h2>
        </div>
        <% pie_colors = ["#1ABB9C", "#fe8378", "#57b7db", "#6a8cbb", "#74ef07", "#f55656"] %>
        <div class="pie-chart" id="js-pie-chart">
          <% i = 0 %>
          <% @pie_course_types.each do |p| %>
            <div class="pie" data-percentage=<%= "#{p[:count]}" %> data-color=<%= "#{pie_colors[i]}" %>></div>
            <% i = i + 1 %>
          <% end %>
        </div>
          <div class="pie-info">
            <ul>
              <% j = 0 %>
              <% @pie_course_types.each do |p| %>
                <li><div class="pie-color" style=<%= "background:#{pie_colors[j]}" %>></div><span class="pie-color-title"><%= p[:course] %></span><span class="pie-ratio"><%= p[:count] %>%</span></li>
                <% j = j + 1 %>
              <% end %>
            </ul>
          </div>
      </div>
      
      <div class="contents-top__editable-material">
        <div class="contents-top__tutorial">
          <div class="contents-top__tutorial-headline">
            <h2>編集中のチュートリアル</h2>
          </div>
          <div>
            <a href="/"><p class="contents-top__tutorial-title">Ruby on Railsを使って簡易ブログサイトを作ってみよう(1)</p></a>
            <a href="/"><p class="contents-top__tutorial-edit">編集する</p></a>
          </div>
        </div>
    
        <div class="contents-top__programming">
          <div class="contents-top__programming-headline">
            <h2>下書き中のプログラミング</h2>
          </div>
          <div>
            <a href="/"><p class="contents-top__programming-question">プログラミング問題プログラミング問題プログラミング問題プログラミング問題</p></a>
            <a href="/"><p class="contents-top__programming-edit">再開する</p></a>
          </div>
        </div>
      </div>
    </div><!-- /statistics-area -->
  </div>
</div>
